*, *:before, *:after {
    box-sizing: border-box;    
}

body {
    background: #333;
    margin-top: 0;
}

.container {
    width: 70%;
    margin: 0 auto;
    /* background: #fff; */
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

.please-login {
    background: red;
    width: 100%;
    text-align: center;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
}

.hide {
    display: none;
}

.login-modal {
    background: #fff;
    padding: 0;
    width: 50%;
    height: 40vh;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.login-modal-inner {

}

.login-modal-title {
    margin-top: 50px;
    text-align: center;
}

.login-modal-form {
    display: block;
    margin-top: 100px;
}

.login-modal-form-select {
    margin-right: 4px;
}

.header {
    /* background: #fff; */
    /* background: #333; */
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
    background: #fff;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    flex-basis: 50%;
}

.nav-list-item {
    flex-grow: 1;
    text-align: center;
    display: flex;
    align-items: center;
}

.nav-list-item-link {
    padding: 10px;
    display: inline-block;
    /* height: 90%; */
    /* width: 100%; */
}

.nav-list-item-link:hover {
    background: #c1c1c1;
}

.nav-user {
    flex-grow: 1;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 10px;
}

.nav-user-name {
    display: inline;
    margin-right: 4px;
}

.main {
    padding: 16px;
    padding-top: 20px;
}

.main-ready {
    background: #fff;
}

.home-question-item + .home-question-item {
    margin-top: 10px;
}

.home-question-link {
    display: block;
    border: 1px solid #333;
    width: 60%;
    margin: 0 auto;
    display: flex;
}

.home-question-author {
    border-right: 1px solid #333;
    /* padding: 8px; */
    width: 25%;
    display: flex;
    flex-direction: column;
}

.home-question-text {
    padding: 4px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.user-name {
    padding: 0;
    margin: 0;
    text-align: center;
}

.home-question-author .user-avatar {
    background-position: center;
    background-size: cover;
    height: 70px;
}

.vote-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.vote-details-inner {

}

.new-question-form {
    display: flex;
    align-items: flex-end;
}

.new-question-form input {
    display: block;
}

.leaderboard-item {
    display: flex;
}

.leaderboard-item + .leaderboard-item {
    margin-top: 10px;
}

.leaderboard-item:nth-child(odd) {
    background: #eaeaea;
}

.leaderboard-item .user-avatar {
    background-position: center;
    background-size: cover;
    height: 70px;
}

.leaderboard-item .leaderboard-questions-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.error-404 .heading {
    text-align: center;
}